@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.6;
}

img{
    max-width: 100%;
}

nav {
    position: fixed;
    top: 0%;
    background-color: #333;
    font-size: 1rem;
    font-weight: 500;
    padding: .75rem .5rem;
    width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2.5rem;
}

a {
    text-decoration: none;
    color: #eeeeee;
    padding: .75rem .5rem;
}

a:hover{
    background-color: #bebaba23;
}

.container{
    background-image: url(img/showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    color: #fff;
    margin-top: 1rem;
    text-align: center;
}

.sub_container{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

h1{
    font-size: 4rem;
    font-weight: bolder;
}

h2{
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: bold;
}

.header_text{
    font-size: 1.3rem;
}

.section_one{
    background-color: #333;
    color: white;
    text-align: center;
}

.section_cont{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

.section_one_head{
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.section_one_img{
    border: 2px solid white;
    border-radius: 40%;
    max-width: 45px;
}

.section_one_heading{
    font-size: 2.3rem;
}

.section_one_sub_heading{
    font-size: 2rem;
    margin: 2rem 0;
}

.section_one_text{
    font-size: 1.3rem;
    margin: 1.3rem 0;
}

.section_one_btn{
    background-color: #b90415;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    width: 30%;
    margin: 1rem auto;
}

.section_one_text2{
    color: #f4f4f4;
    margin: 1rem 0;
    font-size: 1rem;
}

.section_two{
    background-color: #f4f4f4;
    color: #333333;
    text-align: center;
}

.section_two_heading{
    font-size: 2rem;
    margin: 2rem 0;
}

.section_two_text{
    font-size: 1.3rem;
    margin: 1.3rem 0;
}

.section_two_btn{
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: .6rem;
    color: white;
    background-color: #103063;
    width: 25%;
    text-align: center;
    margin: 1rem auto;
}

.section_three{
    background-image: url(img/section-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10rem 0;
    color: #fff;
    text-align: center;
}

.section_three_heading{
    font-size: 2rem;
    margin: 2rem 0;
}

.section_three_text{
    font-size: 1.3rem;
    margin: 1.3rem 0;
}